<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="RicaBiz, Digital, Diary" />
    <meta name="description" content="RicaBiz's Digital Diary" />
    <meta name="author" content="RicaBiz" />
    <meta name="viewport" content="width=device/width, initial/scale=1.0" />
    <meta charset="utf-8" />
    
    <title>RicaBiz's Digital Diary</title>

    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <a href="#main-content" class="visually-hidden">Skip to main content</a>
    <input type="checkbox" id="toggle-theme" />
    <label for="toggle-theme">Switch Color Themes</label>
    <h1></h1>
    <header>
    </header>

    <main id="main-content">
        <article>
        </article>
    </main>

    <footer>
    </footer>
</body>

</html>