<header>
    <h1>Ricabiz's Digital Diary</h1>

    <section class="search-section">
        <h2 class="visually-hidden">Site Search</h2>

        <form>
            <label for="search-input" class="visually-hidden">Search for content in this website</label>
            <input type="search" name="q" id="search-input" placeholder="Search in this website" required>
            <button type="submit" name="sitesearch" value="RicaBiz" formaction="https://google.com/search">Google Search</button>
            <button type="submit" name="sites" value="RicaBiz" formaction="https://duckduckgo.com/">DuckDuckGo Search</button>
        </form>
    </section>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="projects.html">Projects</a>
                <ul><li>Latest: <a href="https://github.com/RicaBiz/html-template-parser">No Terrarian's Sky</a></li></ul>
            </li>
            <li><a href="phylosophy.html">Thoughts and Discussions</a></li>
            <li><a href="about-us.html">About RicaBiz</a></li>
        </ul>
    </nav>
    <hr>
</header>